<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <% if (login) { %>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Hosicorp <span>Mariscos</span></label>
            <ul>
                <li><a href="#usuario" class="navbar">Usuario: <%= user_name %> </a></li>
                <li><a href="/sesion" class="navbar">TIENDA</a></li>
                <li><a href="/logout" class="navbar">SALIR</a></li>
                
            </ul>
        </nav>
        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
                <div class="perfil-usuario-portada">
                    <div class="perfil-usuario-avatar">
                        <img src="Img/usuario.png" alt="img-avatar">   
                    </div>
                    
                </div>
            </div>
            <div class="perfil-usuario-body">
                <div class="perfil-usuario-bio">
                    <h3 class="titulo"> <%= first_name %></h3>
                </div>
                <div class="perfil-usuario-footer">
                    <ul class="lista-datos">
                        <li>Nombre: <%= first_name %></li>
                        <li>Apellido: <%= last_name %></li>
                        <li>Usuario: <%= user_name %></li>
                        <li>Email: <%= email %></li>
                    </ul>
                </div>
            </div>
        </section>
    <%} else { %>
        <h1><strong><%= user_name %></strong></h1>   
        <a href="login" class="a-login">Ir a Login</a>
    <% } %> 
</body>
</html>